<div>
  <%= link_to "Back to Contests", contests_path, class: "btn btn-secondary mt-3" %>
</div>


<div class="page-heading">
  <h2>Editing Contest</h2>
</div>

<%= render 'form', contest: @contest %>


